In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import FinanceDataReader as fdr

In [2]:
kospi = fdr.DataReader("KS11")
kospi["Change"] = kospi["Change"] * 100
kospi = kospi.drop(
    ["Open", "High", "Low", "Close", "Volume", "UpDown", "Comp", "Amount", "MarCap"],
    axis=1,
)
kospi.rename(columns={"Change": "KOSPI"}, inplace=True)
kospi.head(), kospi.tail()

(            KOSPI
 Date
 2001-06-11  -2.18
 2001-06-12  -0.18
 2001-06-13   1.14
 2001-06-14  -0.05
 2001-06-15   0.85,
             KOSPI
 Date
 2024-04-26   1.05
 2024-04-29   1.17
 2024-04-30   0.17
 2024-05-02  -0.31
 2024-05-03   0.09)

In [3]:
usa_treasury = fdr.DataReader("US10YT", "2001-06-08")
usa_treasury["Change"] = round(usa_treasury["Adj Close"].pct_change() * 100, 2)
usa_treasury = usa_treasury.drop(
    ["High", "Low", "Open", "Close", "Volume", "Adj Close"], axis=1
)
usa_treasury = usa_treasury.drop("2001-06-08", axis=0)
usa_treasury = usa_treasury.rename(columns={"Change": "USA_TREASURY"})
usa_treasury

C:\Users\uear\AppData\Local\Temp\ipykernel_15728\2967678365.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  usa_treasury["Change"] = round(usa_treasury["Adj Close"].pct_change() * 100, 2)

            USA_TREASURY
Date
2001-06-11         -0.86
2001-06-12         -0.89
2001-06-13          0.32
2001-06-14         -0.80
2001-06-15          0.25
...                  ...
2024-04-26         -0.79
2024-04-29         -1.18
2024-04-30          1.56
2024-05-01         -1.94
2024-05-02         -0.52

[5974 rows x 1 columns]

In [4]:
nasdaq = fdr.DataReader("IXIC", "2001-06-08")
nasdaq["Change"] = round(nasdaq["Adj Close"].pct_change() * 100, 2)
nasdaq = nasdaq.drop(["High", "Low", "Open", "Close", "Volume", "Adj Close"], axis=1)
nasdaq = nasdaq.drop("2001-06-08", axis=0)
nasdaq.rename(columns={"Change": "NASDAQ"}, inplace=True)
nasdaq

            NASDAQ
Date
2001-06-11   -2.00
2001-06-12   -0.04
2001-06-13   -2.23
2001-06-14   -3.66
2001-06-15   -0.77
...            ...
2024-04-26    2.03
2024-04-29    0.35
2024-04-30   -2.04
2024-05-01   -0.33
2024-05-02    1.51

[5760 rows x 1 columns]

In [5]:
nasdaq.tail()

            NASDAQ
Date
2024-04-26    2.03
2024-04-29    0.35
2024-04-30   -2.04
2024-05-01   -0.33
2024-05-02    1.51

In [6]:
sap = fdr.DataReader("S&P500", "2001-06-08")
sap["Change"] = round(sap["Adj Close"].pct_change() * 100, 2)
sap = sap.drop(["High", "Low", "Open", "Close", "Volume", "Adj Close"], axis=1)
sap = sap.drop("2001-06-08", axis=0)
sap.rename(columns={"Change": "S&P"}, inplace=True)
sap.head()

             S&P
Date
2001-06-11 -0.84
2001-06-12  0.12
2001-06-13 -1.13
2001-06-14 -1.75
2001-06-15 -0.45

In [7]:
sap.tail()

             S&P
Date
2024-04-26  1.02
2024-04-29  0.32
2024-04-30 -1.57
2024-05-01 -0.34
2024-05-02  0.91

In [8]:
japan = fdr.DataReader("N225", "2001-06-08")
japan["Change"] = round(japan["Adj Close"].pct_change() * 100, 2)
japan = japan.drop(["High", "Low", "Open", "Close", "Volume", "Adj Close"], axis=1)
japan = japan.drop("2001-06-08", axis=0)
japan.rename(columns={"Change": "Nikkei"}, inplace=True)
japan

C:\Users\uear\AppData\Local\Temp\ipykernel_15728\1919354611.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  japan["Change"] = round(japan["Adj Close"].pct_change() * 100, 2)

            Nikkei
Date
2001-06-11   -1.52
2001-06-12   -2.92
2001-06-13   -0.13
2001-06-14    0.18
2001-06-15   -0.44
...            ...
2024-04-25   -2.16
2024-04-26    0.81
2024-04-30    1.24
2024-05-01   -0.34
2024-05-02   -0.10

[5710 rows x 1 columns]

In [9]:
usd_krw = fdr.DataReader("USD/KRW", "2001-06-08")
usd_krw["Change"] = round(usd_krw["Adj Close"].pct_change() * 100, 2)
usd_krw = usd_krw.drop(["High", "Low", "Open", "Close", "Volume", "Adj Close"], axis=1)
usd_krw = usd_krw.rename(columns={"Change": "USD/KRW"})
usd_krw

C:\Users\uear\AppData\Local\Temp\ipykernel_15728\1180829902.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  usd_krw["Change"] = round(usd_krw["Adj Close"].pct_change() * 100, 2)

            USD/KRW
Date
2003-12-01      NaN
2003-12-02    -0.28
2003-12-03    -0.21
2003-12-04    -0.20
2003-12-05    -0.45
...             ...
2024-04-29     0.39
2024-04-30    -0.18
2024-05-01     0.79
2024-05-02    -0.75
2024-05-03    -0.74

[5330 rows x 1 columns]

In [10]:
result_data = pd.concat([kospi, nasdaq, sap, usd_krw, japan], axis=1)
result_data.fillna(result_data.mean(), inplace=True) 
result_data = round(result_data, 2)

In [11]:
result_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5975 entries, 2001-06-11 to 2024-05-03
Freq: B
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   KOSPI    5975 non-null   float64
 1   NASDAQ   5975 non-null   float64
 2   S&P      5975 non-null   float64
 3   USD/KRW  5975 non-null   float64
 4   Nikkei   5975 non-null   float64
dtypes: float64(5)
memory usage: 280.1 KB

In [12]:
result_data.to_csv("./data/kospi_result_data.csv")

## 데이터 분리

In [15]:
X = result_data[["NASDAQ", "S&P", "USD/KRW", "USA_TREASURY", "Nikkei"]]
y = result_data["KOSPI"]

KeyError: "['USA_TREASURY'] not in index"

## K-Means

In [17]:
from sklearn.cluster import KMeans
ks = range(1, 10)
inertias = []
for k in ks:
    model = KMeans(n_clusters=k, random_state=42)
    model.fit(X)
    inertias.append(model.inertia_)
plt.plot(ks, inertias, "-o")
plt.xlabel("number of clusters, k")
plt.ylabel("inertia")
plt.xticks(ks)
plt.show()

In [ ]:
n_clusters = 3
kmeans = KMeans(n_clusters=n_clusters, random_state=42)
kmeans.fit(X)
y_kmeans = kmeans.predict(X)
y_kmeans[1:10]

## t-SNE을 통한 데이터 확인

In [ ]:
from sklearn.manifold import TSNE

수익률 높은거!
-> 그래서 무엇보다 높은지 그 무엇을 정해야 함.
linear regression 왜 그어야 하는지
: 
비지도
: 
y(kospi) : 자산 포트폴리오 구성하는 데에 kospi보다 수익률이 높은 포트폴리오를 만들겠다는 의미

In [ ]:
t_sne = X.shape[0]
tsne = TSNE(n_components=1, verbose=1, perplexity=2, 
            n_iter=1000, random_state=42)
tsne_result = tsne.fit_transform(X)

NameError: name 'X' is not defined

In [ ]:
tsne_result

NameError: name 'tsne_result' is not defined

In [16]:
## plt.scatter(tsne_results[:, 0], tsne_results[:, 1], c=y_kmeans, s=20, cmap="bwr")
sns.scatterplot(x=tsne_results[:, 0], y=tsne_results[:, 1], hue=y_kmeans, palette="bwr")
plt.show()

NameError: name 'tsne_results' is not defined

## 군집

In [18]:
## 군집 0 ~ 3 까지 분류된거를 변수명에 추가
cluster_2 = df1[df1["cluster"] == 2]
cluster_1 = df1[df1["cluster"] == 1]
cluster_0 = df1[df1["cluster"] == 0]

NameError: name 'df1' is not defined

In [19]:
cluster_total = df1.groupby("cluster").mean()
cluster_total["return"] = cluster_total.T.mean()
cluster_total["std"] = cluster_total.T.std()
cluster_total = cluster_total.T
cluster_total

NameError: name 'df1' is not defined

In [20]:
plt.figure(figsize=(8, 6))
plt.scatter(cluster_total.std(), cluster_total.mean())
plt.xlabel("risk")
plt.ylabel("return")
plt.title("평균수익률 및 표준편차")
for label, x, y in zip(
    cluster_total.columns, cluster_total.std(), cluster_total.mean()
):
    plt.annotate(
        label,
        xy=(x, y),
        xytext=(30, -30),
        textcoords="offset points",
        ha="right",
        va="bottom",
        bbox=dict(boxstyle="round,pad=0.5", fc="yellow", alpha=0.5),
        arrowprops=dict(arrowstyle="->", connectionstyle="arc3,rad=0"),
    )

NameError: name 'cluster_total' is not defined

t-sne : 높은 차원 데이터(가 - 가, 멀-멀)
-> 저차원으로 내림